<template>
    <div>
        <h2>Teams list</h2>
        <div class="row">
            <a @click="register = true; initTeam()" href="#editTeamModal" class="waves-effect waves-light blue btn modal-trigger right">
                Add
            </a>
        </div>
        <div class="row">
            <ul class="collapsible">
                <li v-for="t in teams" :key="t.id">
                    <div class="collapsible-header">
                    <div class="container">
                        <div class="row">
                            <div class="col s6">
                                <h5>
                                    <i style="margin-top: 10px" class="material-icons">group_work</i>{{ t.name }}
                                </h5>
                            </div>
                            <div class="col s6">
                                <a  style="margin-top: 25px"  @click="team =  JSON.parse(JSON.stringify(t)); register = false"
                                href="#editTeamModal" class="waves-effect waves-light orange btn modal-trigger right">
                                   Edit
                                </a>
                            </div>
                        </div>
                    </div>
                    </div>
                    <div class="collapsible-body">
                        <table>
                            <thead>
                                <tr>
                                    <th>Name</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="tp in t.players" :key="tp.id">
                                    <td>
                                        <i class="material-icons">account_circle</i>
                                        {{ tp.first_name + ' ' + tp.last_name }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </li>
            </ul>
        </div>
        <div class="row">
            <a @click="register = true; initTeam()" href="#editTeamModal" class="waves-effect waves-light blue btn modal-trigger">
                Add
            </a>
        </div>


        <!-- Edit / Register modal -->
        <div id="editTeamModal" class="modal">
            <div >
                <div class="modal-content">
                    <h4 v-if="register">Register new team</h4>
                    <h4 v-else>Edit {{ team.name }} information</h4>
                    <form>
                        <label>Edit name</label>
                        <input v-model="team.name">
                    </form>
                </div>
                <div class="modal-footer">
                    <a href="#!" class="modal-close waves-effect waves-grey grey btn">Close</a>
                    <a v-if="register" @click="registerTeam()" class="modal-close waves-effect waves-light green btn">Register</a>
                    <a v-else @click="updateTeam()" class="modal-close waves-effect waves-light orange btn">Update</a>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
export default {
  data() {
    return {
      teams: [],
      register: false,
      team: {
        name: ""
      },
      modal: null
    };
  },
  mounted: function() {
    this.initTeam();
    this.modal = $(".modal").modal();
    this.getTeams();
    $(".collapsible").collapsible();
    $("select").formSelect();
  },
  methods: {
    initTeam() {
      this.team = {
        name: ""
      };
    },
    getTeams() {
      this.$root.loading = true;
      var that = this;
      axios
        .get(api_route + "/api/teams/get")
        .then(function(response) {
          that.team = response.data.data;
          that.$root.loading = false;
        })
        .catch(function(response) {
          console.log(response);
          that.$root.loading = false;
        });
    },
    updateTeam() {
      var that = this;
      this.$root.loading = true;
      axios
        .post(api_route + "/api/teams/update", this.team)
        .then(function(response) {
          var status = response.data.data.status;
          var message = response.data.data.message;
          that.getTeams();
          that.$root.loading = false;
          M.toast({ html: message });
        })
        .catch(function(response) {
          console.log(response);
          that.$root.loading = false;
        });
    },
    registerTeam() {
      var that = this;
      this.$root.loading = true;
      axios
        .post(api_route + "/api/teams/store", this.team)
        .then(function(response) {
          var status = response.data.data.status;
          var message = response.data.data.message;
          if (status === "success") that.teams.push(response.data.data.team);
          that.$root.loading = false;
          M.toast({ html: message });
        })
        .catch(function(response) {
          console.log(response);
          that.$root.loading = false;
        });
    },
    getTeams() {
      this.$root.loading = true;
      var that = this;
      axios
        .get(api_route + "/api/teams/get")
        .then(function(response) {
          that.teams = response.data.data;
          that.$root.loading = false;
        })
        .catch(function(response) {
          console.log(response);
          that.$root.loading = false;
        });
    }
  }
};
</script>
