<template>
    <div>
        <h1>Your Tokens</h1>
        <ul>
            <li v-for="at in access_tokens" :key="at.id">
                <p>{{ at.id }}
                    <button @click="deleteToken(at.id)" class="btn waves-effect waves-light red" type="submit" name="action">Revoke
                    <i class="material-icons right">send</i>
                </button>
                </p>
            </li>
        </ul>
        <h5>Generated token</h5>
        <p>
            {{ access_token }}
        </p>
        <p>
            Make API request with this.<br>
            Include Autorization header with the access token <br>
            * api/teams/get.<br>
            * api/players/get.
        </p>
        <button @click="requestToken()" class="btn waves-effect waves-light green" type="submit" name="action">Generate New
            <i class="material-icons right">send</i>
        </button>
    </div>
</template>
<script>
export default {
  data() {
    return {
      access_tokens: [],
      access_token: ""
    };
  },
  mounted: function() {
    this.getTokens();
  },
  methods: {
    requestToken() {
      var that = this;
      axios
        .get("/tokengen/request")
        .then(function(response) {
          that.access_token = "Bearer " + response.data;
          that.getTokens();
        })
        .catch(function(er) {
          console.log(er);
        });
    },
    getTokens() {
      var that = this;
      axios.get("/oauth/personal-access-tokens").then(function(response) {
        that.access_tokens = response.data;
      });
    },
    deleteToken(tokenId) {
      var that = this;
      axios
        .delete("/oauth/personal-access-tokens/" + tokenId)
        .then(function(response) {
          that.getTokens();
        });
    }
  }
};
</script>
