<template>
    <div>
        <h2>Players list</h2>
        <div class="row">
            <a @click="register = true; initPlayer()" href="#editPlayerModal" class="waves-effect waves-light blue btn modal-trigger right">
                Add
            </a>
        </div>
        <div class="row">
            <table class="striped">
                <thead>
                    <tr>
                        <th>Player name</th>
                        <th>Player team</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="p in players" :key="p.id">
                        <td>{{ p.first_name + ' ' + p.last_name }}</td>
                        <td>{{ p.team.name }}</td>
                        <td>
                            <a @click="player = JSON.parse(JSON.stringify(p)); register = false" href="#editPlayerModal" class="waves-effect waves-light orange btn modal-trigger">
                                Edit
                            </a>
                            <a @click="deletePlayer(p)" class="waves-effect waves-light red btn">
                                Delete
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row">
            <a @click="register = true; initPlayer()" href="#editPlayerModal" class="waves-effect waves-light blue btn modal-trigger">
                Add
            </a>
        </div>


        <!-- Edit / Register modal -->
        <div id="editPlayerModal" class="modal">
            <div >
                <div class="modal-content">
                    <h4 v-if="register">Register new player</h4>
                    <h4 v-else>Edit {{ player.first_name }} information</h4>
                    <form>
                        <label>Edit name</label>
                        <input v-model="player.first_name">
                        <label>Edit lastname</label>
                        <input v-model="player.last_name">
                        <label>Edit team</label>
                        <select v-model="player.team" class="browser-default">
                            <option v-for="t in teams" :key="t.id" :value="t">
                                {{ t.name }}
                            </option>
                        </select>
                    </form>
                </div>
                <div class="modal-footer">
                    <a href="#!" class="modal-close waves-effect waves-grey grey btn">Close</a>
                    <a v-if="register" @click="registerPlayer()" class="modal-close waves-effect waves-green green btn">Accept</a>
                    <a v-else @click="updatePlayer()" class="modal-close waves-effect waves-green orange btn">Update</a>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
export default {
  data() {
    return {
      players: [],
      teams: [],
      register: false,
      player: {
        first_name: "",
        last_name: "",
        team: null,
        team_id: 0
      },
      modal: null
    };
  },
  watch: {
    "player.team": {
      handler: function(newValue) {
        if (newValue !== undefined && newValue !== null)
          this.player.team_id = newValue.id;
      },
      deep: true
    }
  },
  mounted: function() {
    this.initPlayer();
    $("select").formSelect();
    this.modal = $(".modal").modal();
    this.getPlayers();
    this.getTeams();
  },
  methods: {
    initPlayer() {
      this.player = {
        first_name: "",
        last_name: "",
        team: null,
        team_id: 0
      };
    },
    getPlayers() {
      var that = this;
      this.$root.loading = true;
      axios
        .get(api_route + "/api/players/get")
        .then(function(response) {
          that.players = response.data.data;
          that.$root.loading = false;
        })
        .catch(function(response) {
          console.log(response);
          that.$root.loading = false;
        });
    },
    updatePlayer() {
      var that = this;
      this.$root.loading = true;
      axios
        .post(api_route + "/api/players/update", this.player)
        .then(function(response) {
          var status = response.data.data.status;
          var message = response.data.data.message;
          that.getPlayers();
          that.$root.loading = false;
          M.toast({ html: message });
        })
        .catch(function(response) {
          console.log(response);
          that.$root.loading = false;
        });
    },
    registerPlayer() {
      var that = this;
      this.$root.loading = true;
      axios
        .post(api_route + "/api/players/store", this.player)
        .then(function(response) {
          var status = response.data.data.status;
          var message = response.data.data.message;
          if (status === "success")
            that.players.push(response.data.data.player);
          that.$root.loading = false;
          M.toast({ html: message });
        })
        .catch(function(response) {
          console.log(response);
          that.$root.loading = false;
        });
    },
    getTeams() {
      var that = this;
      axios.get(api_route + "/api/teams/get").then(function(response) {
        response.data.data.map(function(item) {
          var t = {
            id: item.id,
            name: item.name
          };
          that.teams.push(t);
        });
      });
    },
    deletePlayer(p) {
      var that = this;
      this.$root.loading = true;
      axios
        .post(api_route + "/api/players/destroy", p)
        .then(function(response) {
          var status = response.data.data.status;
          var message = response.data.data.message;
          that.getPlayers();
          that.$root.loading = false;
          M.toast({ html: message });
        })
        .catch(function(response) {
          console.log(response);
          that.$root.loading = false;
        });
    }
  }
};
</script>
