@import "materialize.scss";

.mt-fix {
    margin-top: 5rem;
}
.loading {
    position: fixed;
    width: 100%;
    /* Full width (cover the whole page) */
    height: 100%;
    /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(170, 170, 170, 0.247);
    /* Black background with opacity */
    z-index: 99;
    /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer;
    /* Add a pointer on hover */
}
