<template>

    <div>
        <div v-if="this.$root.loading" align="center" class="loading">
            <img style="width:20%; margin-top: 15%" src="/images/loading.gif">
        </div>
        <div class="container top-margin">
            <div class="row justify-content-center">
               <transition name="fade" mode="out-in"></transition>
                <router-view></router-view>
            </div>
        </div>
    </div>
    

</template>
<script>
export default {};
</script>
<style>
.top-margin {
  margin-top: 64px;
}
</style>
