<template>
<div>
    <!-- <nav class="navbar navbar-expand-md navbar-light navbar-laravel" id="vue-navigation">
        <div v-bind:class="{'container':this.$root.authenticated,'container justify-content-center':!this.$root.authenticated}">

                <router-link to="/" class="navbar-brand">
                    <img class="img-responsive" src="/images/bitmap.png" alt=""/>
                </router-link>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div v-if="this.$root.authenticated" class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav m-auto">
                    <li class="nav-item active">
                        <router-link to="/home" class="nav-link">Home</router-link>
                    </li>
                    <li class="nav-item">
                        <router-link to="/assets" class="nav-link">Assets</router-link>
                    </li>
                    <li class="nav-item">
                        <router-link to="/help" class="nav-link">Help</router-link>
                    </li>
                </ul>

                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                        <div>
                            <b-dropdown  id="down-header" :text="this.$root.user.first_name" size="lg" variant="link" class="mt-2">
                                <b-dropdown-header>Settings</b-dropdown-header>
                                <b-dropdown-item-button @click="logout()">
                                    Logout
                                </b-dropdown-item-button>
                            </b-dropdown>
                        </div>
                    </li>

                </ul>
            </div>

        </div>
    </nav> -->
    <nav v-if="this.$root.authenticated">
        <div class="nav-wrapper">
        <a href="#!" class="brand-logo">SportAPI</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <router-link to="/players" class="nav-link" tag="li">
                <a class="nav-link">Players</a>
            </router-link>
            <router-link to="/teams" class="nav-link" tag="li">
                <a class="nav-link">Teams</a>
            </router-link>
            <li class="nav-item">
                <a class='dropdown-trigger btn' href='#' data-target='dropdown1'>
                    {{ this.$root.user.name }}
                </a>
            </li>
        </ul>
        </div>
    </nav>

  <ul class="sidenav" id="mobile-demo">
        <li><h5 align="center">SportAPI</h5></li>
        <li>
            <router-link to="/players" class="nav-link">Players</router-link>
        </li>
        <li>
            <router-link to="/players" class="nav-link">Teams</router-link>
        </li>
        <!-- <li>
            <router-link to="/players" class="nav-link">Api Access Token</router-link>
        </li> -->
        <li>
            <a @click="logout()">Logout</a>
        </li>
  </ul>



  <!-- Dropdown Structure -->
  <ul id='dropdown1' class='dropdown-content'>
    <li><a @click="logout()">Logout</a></li>
  </ul>




</div>

</template>
<script>
export default {
  methods: {
    logout() {
      this.$root.auth.logout();
    }
  }
};
</script>
