<template>
    <div class="row">
        <div class="col m8 offset-m2">
            <h3 class="center-align">Login to SportAPI Vue</h3>
            <form v-on:submit.prevent class="mt-25">
                <label>Username</label>
                <input name="email"  placeholder="fw@fwscience.com" v-model="user.email">
                <label>Password</label>
                <input name="password" placeholder="fwscience" v-model="user.password">
                <button v-if="!loginin" @click="loginUser()" class="right center waves-effect waves-light btn">Login</button>
                <button v-else class="right center waves-effect waves-light btn">Login in...</button>
            </form>
        </div>
    </div>

</template>
<script>
export default {
  data() {
    return {
      user: {
        email: "test@fwscience.com",
        password: "test"
      },
      loginin: false
    };
  },
  methods: {
    loginUser() {
      this.loginin = true;
      var that = this;
      axios
        .post(api_route + "/api/login", this.user)
        .then(({ data }) => {
          auth.login(data.token, data.user);
          that.$router.push({ name: "players" });
          that.loginin = false;
        })
        .catch(response => {
          console.log(response.message);
          that.loginin = false;
        });
    }
  }
};
</script>
