<template>
    <div class="row">
        <div class="col m8 offset-m2">
            <h3 class="center-align">Login to SportAPI Vue</h3>
            <form action="/login" class="mt-25" method="POST">
                <input name="_token" v-model="csrf" hidden>
                <label>Username</label>
                <input name="email"  placeholder="fw@fwscience.com" value="fw@fwscience.com">
                <label>Password</label>
                <input name="password" placeholder="fwscience" value="fwscience">
                <button type="submit" class="right center waves-effect waves-light btn">Login</button>
            </form>
        </div>
    </div>

</template>
<script>
export default {
  data() {
    return {
      csrf: document
        .querySelector('meta[name="csrf-token"]')
        .getAttribute("content")
    };
  }
};
</script>
